*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: black;
}
.logo>a{
    text-decoration: none;
    color: blueviolet;
    margin-right: 5px;
}
.logo>a:hover{
    color: black;
}
.home{
    text-align: center;
    padding-top: 90px;
    background-image: linear-gradient(rgb(255, 255, 255) rgb(255, 255, 255), url);
}
.about{
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    gap: 10%;

}
.texts{
    font-size: 20px;
}
.aboutus{
    padding-right: 30px;
    height: 40px;
    justify-items: center;
}
.page{
    background-image: url(./image/images\ \(5\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.card-container{
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   padding: 15px;
   gap: 25px;
}
.container1{
    padding-left: 10px;
}
.food-menu{
    width: 100%;
    display: flex;
    justify-items: left;
    padding-top: 60px;
}
.food-menu>img{
    border-radius: 50%;
    padding-left: 50px;
}
.task{
    text-align: center;
}
.head{
    padding-top: 100px;
    align-items: center;
    text-align: center;
    color: white;
}
.form{
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    gap: 10%;

}
.contact{
    font-size: 20px;
    justify-content: space-around;
    gap: 10px;
}
.image{
    padding-right: 30px;
    height: 40px;
    justify-items: center; 

}
   
